body {
    height: 100vh;
    margin: 0px 1px;
}

.modal-buttons-container {
    display: flex;
    justify-content: space-between;
}

.main-container {
    border: 3px solid black;
    padding: 10px;
    display: grid;
    grid-template-rows: 50px 1fr;
    row-gap: 25px;
}

.main-container-title {
    margin-inline: auto;
    font-weight: bold;
}

.library-container {
    border: 3px solid black;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 25px;
    row-gap: 25px;
}

.book-title {
    font-weight: bold;
}

.book-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-left: 10px solid yellow;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5), inset 1px 1px 1px rgba(0,0,0,0.25);
}

.delete-btn-container {
    width: 100%;
    display: flex;
    justify-content: right;
}
